header {
    position: fixed;
    background-color: grey;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 2%;
    height: 80px;
}


body {
    position: relative;
}


footer {
    background-color: red;
    text-align: center;
    padding: 10px 0;
    color: black;
    font-size: 15px;
}